name: Continuous Integration

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
  pull_request_target:
    types: [ opened, synchronize, reopened, ready_for_review ]

concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pipeline:
    strategy:
      matrix:
        module: [
          "abstract-factory",
          "adapter",
          "bridge",
          "builder",
          "chain-of-responsibility",
          "command",
          "composite",
          "decorator",
          "facade",
          "factory",
          "factory-method",
          "flyweight",
          "iterator",
          "mediator",
          "observer",
          "prototype",
          "proxy",
          "singleton",
          "state",
          "strategy",
          "template-method",
          "visitor",
        ]
    uses: yonatankarp/github-actions/.github/workflows/ci.yml@v1
    with:
      context: ${{ matrix.module }}
      build_docker: false

  dependabot_auto_merge:
    needs: pipeline
    if: ${{ github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]' }}
    uses: yonatankarp/github-actions/.github/workflows/dependabot-auto-merge.yml@v1
    secrets:
      GITHUB_PAT: ${{ secrets.REVIEWER_GITHUB_TOKEN }}
